[title]
Rules
[head]
<meta name="description" content="List of rules for participating in a Smogon Tour." />
[page]

<ol class="toc">
<li><a href="#info">Basic Information</a></li>
<li><a href="#rules">Rules</a>
<ul>
<li><a href="#gen">General</a></li>
<li><a href="#tiers">Tiers</a></li>
<li><a href="#clauses">Clauses</a></li>
</ul>
</li>
<li><a href="#point">Point System</a></li>
</ol>

<div style="float: right; margin-left: 5px;">
<img src="/media/tour/smogontour.png" alt="" />
</div>

<h2><a name="info">Basic Information</a></h2>

<p>The following is a list of general information that is important for participating in a Smogon Tour.</p>

<ul class="long_list">
<li>You must have a Smogon Forum account to sign-up for a Smogon Tour tournament.</li>
<li>When the tour registration begins, sign-up at the <a href="/forums/forumdisplay.php?f=49">Smogon Tour</a> section of the Smogon Forums.  The number of spots available for registration will vary week to week based on user activity at the time.  It is up to the discretion of the host as to when sign-ups will close. If you do not make the cut-off, you can still sign-up as a substitute player if a player does not show up.  Substitute players will only be applied in the first round.</li>
<li>You must use your forum nickname as your Pokemon Online nickname in order to play.</li>
<li>If you have signed up successfully, you must stay for the entire tournament unless you have lost.</li>
<li>There is a fifteen minute time limit for each round.  If you exceed the time limit, notify the current host.  He or she will determine the winner based on the current advantage between the players.</li>
<li>You may change teams between rounds without penalty.</li>
<li>You may only participate in two tour tournaments per week. For example, if you play on Friday and Saturday, you are not allowed to play on Sunday.</li>
<li>Do not hassle the host(s) of the current tournament.</li>
<li>All Smogon Tour participants are expected to behave honestly and ethically in their dealings with opponents, hosts, and tournament directors.</li>
<li>Hosts have substantial latitude when it comes to running the tour. Obey the host's rulings at all times.</li>
<li>Tour participants must promptly report when he or she wins the match against the opponent. Failure to do so delays the progress of the tour and may result in disqualification.</li>
</ul>

<h2><a name="rules">Rules</a></h2>

<h3><a name="gen">General</a></h3>

<p>The following general rules apply to all tiers and all Smogon Tour matches. The breaking of any single rule, including the match clauses, at any time is grounds for immediate disqualification. If your opponent breaks a rule in your match, you are to report it to the host. Breaking any of the rules may result in a penalty of three points being deducted from your season record. If you are given a 3 point penalty, you are not allowed to join subsequent tours the same week in which the penalty is given. Bad faith attempts to circumvent rules or instances of dishonesty or unethical behavior are dealt with on an individual basis. A range of penalties may be applied in such situations. Habitual rule breakers will be barred from joining the Smogon Tour permanently.</p>

<dl>
<dt>Disconnecting</dt>
<dd>In the case of a player disconnecting during a battle, he or she is automatically assumed to lose unless the non-disconnecting opponent chooses to grant a rematch.</dd>
<dt>No Coaching</dt>
<dd>No coaching, advising, or consulting between players is allowed <strong>during</strong> the Smogon Tour. Anyone found to be either giving or receiving advice will be disqualified and penalized in the standings. Collaboration on team building before the tournament is acceptable.</dd>
<dt>No Ghost Battling</dt>
<dd>Do not play matches using someone else's account with or without permission.</dd>

<h3><a name="tiers">Tiers</a></h3>

<ul>
<li><a href="/bw/tiers/ou">BW2 Overused (OU)</a>
<li><a href="/dp/tiers/ou">DPP Overused (OU)</a>
<li><a href="/rs/tiers/ou">ADV Overused (OU)</a>
</ul>

<p>All tiers are based on Smogon Tiers. If you have any question about whether a particular Pokémon is banned or not in any particular tier, reference the ban list of the appropriate ladder available on the Pokemon Online server. This is not confusing. There will be no exceptions.</p>

<h3><a name="clauses">Clauses</a></h3>

<p>The following clauses must be enabled for all Smogon Tour matches.</p>

<dl>
<dt>Timed Battle</dt>
<dd>Select this clause when challenging for all Smogon Tour matches. This is necessary in the interest of finishing the tournament in a speedy manner.</dd>
<dt>Species Clause</dt>
<dd>A player cannot have two of the same Pokémon on their team. For example, a player cannot have two Koffing on his or her team.</dd>
<dt>Sleep Clause</dt>
<dd>A player cannot put two or more different opposing Pokémon to sleep using attacks that induce sleep to opposing Pokémon.
<dt>Evasion Clause</dt>
<dd>A player cannot increase their Pokémon's evasion stat with a move that specifically increases evasion. Items or indirect boosts do not break this clause.</dd>
<dt>OHKO Clause</dt>
<dd>Players cannot use moves that have a chance of instantly KO opposing Pokémon. For example, Horn Drill is an illegal move to have on a Pokémon's move set.</dd>
</dl>

<h2><a name="point">Point System</a></h2>

<p>A system of tallied points is used for the Smogon Tour. Over the nine weeks the tour lasts, players must rack up as many points as they possibly can. After the twelve weeks have elapsed, the top sixteen players will be invited to participate in the single elimination championship tournament to determine the winner! For each round you win, you will receive points for your tour record; each successive round is worth more points. If you lose a match, you do not lose any points. Points are awarded as shown below.</p>

<p>Points are awarded on a weekly basis, not on a per tournament basis. If you earn points in both the Saturday and Sunday tournaments of one weekend, you will receive the higher of the two values toward your total score, not the sum. For example, If you win 7 points on Saturday and then win 5 points the next day on Sunday, you will receive 7 points toward your total, not 12.</p>

<table class="sortable">
    <thead>
        <tr>
            <th style="text-align: center;">Single Elimination</th>
            <th colspan="7" style="text-align: center;">Point Value for Winning a Round</th>
        </tr>
        <tr>
            <th>Player Count</th>
            <th>R1</th>
            <th>R2</th>
            <th>R3</th>
            <th>R4</th>
            <th>R5</th>
            <th>R6</th>
            <th>Winner</th>
        </tr>
    </thead>
    <tbody>
    <tr><td>128</td><td>1</td><td>2</td><td>3</td><td>5</td><td>7</td><td>9</td><td>11</td>
    <tr class="a"><td>64 </td><td>1</td><td>2</td><td>3</td><td>5</td><td>7</td><td>-</td><td>9 </td>
    <tr><td>32 </td><td>1</td><td>2</td><td>3</td><td>5</td><td>-</td><td>-</td><td>7 </td>

        <tr>
            <th style="text-align: center;">Round Robin Finals</th>
            <th colspan="7" style="text-align: center;">Point Value for Winning a Round</th>
        </tr>
        <tr>
            <th>Player Count</th>
            <th>R1</th>
            <th>R2</th>
            <th>R3</th>
            <th>R4</th>
            <th>R5</th>
            <th>Finalists</th>
            <th>Winner</th>
        </tr>

    <tr><td>192</td><td>1</td><td>2</td><td>3</td><td>5</td><td>7</td><td>9</td><td>12</td>
    <tr class="a"><td>96</td><td>1</td><td>2</td><td>3</td><td>5</td><td>-</td><td>7</td><td>10</td>
    <tr><td>48</td><td>1</td><td>2</td><td>3</td><td>-</td><td>-</td><td>5</td><td>8 </td>
    <tr class="a"><td>24</td><td>1</td><td>2</td><td>-</td><td>-</td><td>-</td><td>4</td><td>6 </td>
    </tbody>
</table>