[title]
Rules - World Cup of Pokémon VI
[header]
[page]

<h2>Rules</h2>

<p>Before battling your opponent, make sure to follow these rules:</p>

<ul class="long_list">
<li>All matches must be played on Pokemon Online.</li>
<li>All battles will be standard BW OU.</li>
<li>You are not allowed to use pokémon, abilities, ability combinations, moves, or items classified as "Uber".</li>
<li>All tiers are based on <a href="/forums/announcement.php?f=34&a=187">Smogon tiers</a>. The current status of the appropriate standard ladder will be function as the prevailing tier list. <span style="text-decoration: underline;">Important: If the tiers change mid tournament, the next round of the tournament will adapt to the change.</span> All rounds of the tournament will use a static tier list for the duration of the round.</li>
<li>Species Clause: A player cannot have two of the same pokémon on their team. For example, a player cannot have two Koffing on his or her team.</li>
<li>Sleep Clause: A player cannot put two or more different opposing Pokémon to sleep using attacks that induce sleep to opposing pokémon.</li>
<li>Evasion Clause: A player cannot increase their Pokémon's evasion stat with a move that specifically increases evasion. Items or indirect boosts do not break this clause.</li>
<li>OHKO Clause: Players cannot use moves that have a chance of instantly KO opposing Pokémon. For example, Horn Drill is an illegal move to have on a Pokémon's move set.</li>
<li>WiFi Clause: Team preview must be turned on.</li>
<li>If a battle ends in a draw, a rematch will occur with the option for both players to change teams.</li>
<li>Timed Battle must be enabled.</li>
</ul>

<p>Violating these rules will earn a loss for your team and may result in you being banned from all future World Cups.</p>