[title]
The Orange League Rules
[head]
<meta name="description" content="Rules for the Orange League." />
[page]

<p>Welcome one and all to the Orange League, <a href="/forums/forumdisplay.php?f=205">Orange Island's</a> first major competition. In it, teams will duke it out to show off their mini-game skills, fastest speedruns, and highest scores. The first Monday of every month, a new round kicks off and new teams are formed.</p>

<p>As each round begins, competitors will be informed of which games will be used. They will have 4 days to assemble a team of people with access to at least one those games. If there are 5 games in the round, teams can be anywhere from 1 to 5 players (yes, soloing is allowed). If you are having trouble finding teammates, feel free to post which games you have in this thread and VM others that own the games you lack. You are also encouraged to go on #orangeislands on SynIRC to organize teams.</p>

<p>After sign-ups, the actual events will be announced. Teams will have 14 days to get the best scores they can in each event. All scores should be PMed to <a href="/forums/member.php?u=139618">TheOrangeLeague</a>, along with photographic evidence of the scores. These don't have to be great quality pictures (feel free to use your cell phone or whatever), but SCORES SENT WITHOUT PHOTO EVIDENCE WILL NOT COUNT. All scores must be obtained during the 14 day time frame. We don't care if you got your highest Snap score last week; go get it again. For speedruns, your player name should be your Smogon username (character space permitting), so as to further identify the score as your own.</p>

<p>First place will receive 5 points, second will get 3, and third will get 1. If two or more players from the same team make it into the top 3, their team will be awarded those points (i.e. 8 points if two team members get first and second in one event). Onsite leaderboards can be found <a href="/orangeleague/">here</a>!</p>

<p>If you have any questions about this, feel free to ask <a href="/forums/member.php?u=108993">Jellicent</a> or <a href="/forums/member.php?u=40742">Texas Cloverleaf</a>. We'll be happy to help!</p>

<p>Finally, I hate that I have to say this, but it needs to be stressed. There is zero tolerance for cheating. If you are caught cheating or helping others cheat, such as by posting pictures of other people's scores, giving your teammates your scores to submit, using scores from before the beginning of the round, abusing glitches or cheat codes, etc., you will be banned from joining any future Orange League event, and potentially banned from future OI competitions as well. Also, I will personally make sure that Birkal spams your profile with tl;dr VMs about morality, so don't do it!</p>