[title]
シュミレータールールと礼儀
[head]
<meta name="description" content="Index Japanese content." />
[page]

<p>シュミレータールールとマナーも説明しなければなりません。シュミレーターはポケモンバトルが中心的ですが 、ポケモンファン達の交流場でもあります。ゲームや他の話題の会話はメインチャットでずっと続いています。 しかし、そのチャットのルールを破ったら、シュミレーターのモッド（担当者）に追放されてしまう事になりま す。基本的に、チャットに参加しない場合、心配は入りませんが、参加してくださる場合は以下のルールに注意 していただきたいです。</p>

<p>スモーガンは英語のサイトで、メインチャットでは英語しか許されていません。モッド達は英語しか読めないた め、他に言語が許されたら、チャット内容を規制できなくなります。日本語の会話はプライベートメッセージで お願いします。ご理解いただき、ありがとうございます。</p>

<p>第一のルールは、常識をもってください。書く前に、一度常識もって考えると、おらく自然的にルール違反はお きません。</p>

<p>モッド達に他人ユーザーの情報を聞かないでください。</p>

<p>アダルトサイトに関して書かないでください。</p>

<p>ラダー（ランクゲーム）で不正すると、必ず少なくとも、七日追放されます。</p>

<p>モッドの行動をご理解下さい。モッドの指示は反論せずに、従ってください。モッドへの無礼は許 しません。</p>

<p>トレーナー名は無礼、冒涜、民族差別などを使用してはいけません。当然モッドへの侮辱のために使ってはいけ ません。</p>

<p>フロッド、つまり同じメッセージを何回も繰り返して送る事はできません。迷惑メッセージやスパムも当然禁止 です。</p>

<p>メインチャットで相手をバトルに誘ったり、探したりしないでください。バトル探し機能を使ったり、他のプレ イヤーに直接挑戦してください。直接プレイヤーに挑戦する場合、先に挨拶のメッセージを送る事は礼儀として 好まれています。</p>

<p>余計に大文字を使わないでください。大人らしくない、非常にマイナスな印象になります。その上、！！！！！ や？？？？？？など余計に使わないでください。</p>

<p>ジュニアモッド　（青二才担当者）のまねをしないでください。つまり、モッドの仕事に関して指示しないでく ださい。チャットへ、「In b4 ban」、「Ban this guy」など言わないでください。</p>

<p>広告活動は絶対禁止です。Youtube、Google等、多くに知られているサイトは大丈夫ですが、個人 的なサイトはチャットで出す事をご遠慮ください。</p>

<p>お互い尊敬の気持ちを持ってください。意見する事はいいですが、相手への無礼など侮辱はご遠慮下さい。民族 差別は絶対に許しません。</p>

<p>直接挑戦が断れたら、素直にあきらめてください。繰り返しの挑戦は許しません。</p>

<p>チャットの流れを変えないでください。例として、人がLCに関して話している最中で、「２５２／２５２／４ や２５２／４／２５２、どっちがいい？？」などで入り込まないでください。</p>

<p>バトル中で存在不可能なポケモンを使った場合、相手がモッドを呼んで、 追放される可能性もあります。</p>

<p>以上のルールをご理解してください。ご協力ありがとうございます。</p>