[title]
Rules
[head]
<meta name="description" content="List of rules for participating in or hosting a Smogon Tournament." />
[page]
<div class="success">Simulator Tournament applications are OPEN!</div>
<div class="success">WiFi Tournament applications are OPEN!</div>

<hr />

<h2>Playing In a Tournament</h2>

<p>Playing in tournament is rather simple, not as complex as hosting a tournament. However, getting banned is much easier. Follow these rules and you should be alright.</p>

<ol class="long_list">
<li>Be sure that you are in good standings on the Smogon Forums!  If you have the status "<strong>I could be banned!</strong>", you are not allowed to join in any tournaments until that status has been removed.  Be aware that there is a permanent ban list on the Tournament Forum.  If you are on that list, then forget joining or hosting a tournament at all!</li>
<li>Get your match done on time. It's not smart to forget to play your match. Not to mention that it delays the tournament. If you have a habit of not finishing your match on time, you might receive an infraction and may be banned from future tournaments. Try to schedule a time by contacting your opponent through a Smogon PM or by other means of contact. This will help you a lot in the long run!</li>
<li>Be a good sport. If you want to razz your opponent, do it in a forum or on IRC.</li>
<li>All tournament matches should be played using your forum nickname, or by informing your opponent that you are under a different nickname on the battle client you are using. Things can turn out bad and could cause cheating by hidden battle cases.</li>
<li>Decisions by the tournament host are generally final. However, if you feel a ruling is ridiculous, please send a PM to <a href="/forums/member.php?u=12630">Aldaron</a>, <a href="/forums/member.php?u=29254">Bloo</a>, <a href="/forums/member.php?u=10012">Ditto</a>, <a href="/forums/member.php?u=9718">Eo Ut Mortus</a>, <a href="/forums/member.php?u=29308">Iconic</a>, <a href="/forums/member.php?u=21345">M Dragon</a>, <a href="/forums/member.php?u=59679">McMeghan</a>, or <a href="/forums/member.php?u=62037">Vinc2612</a> describing in full detail to the situation at hand. One of us will look into it if it truly is worth bothering with. If the ruling in question was made in a WiFi tournament, please send a PM to <a href="/forums/member.php?u=10012">Ditto</a>. If it is not, we will inform you right away.</li>
<li>Do not break the rules of a tournament. Always read through them carefully before your battle. If you don't agree to them, then don't sign up for it!</li>
<li>"Scouting", or intentionally looking at someone's team to help benefit your upcoming match is heavily discouraged. Though this is something that cannot be helped, the tournament staff is letting participants know as that they can at least watch a match.</li>
</ol>

<p>Breaking these rules can potentially get you banned from playing in future tournaments. Not to mention that you will receive an infraction as well. Rules 2, 3, 4, and 6 especially.</p>

<hr />

<h2>Hosting A Tournament</h2>

<p>To host a Pokémon tournament on Smogon, there are a few simple guide lines.</p>

<ol class="long_list">
<li>Smogon Tournament applications must be open. Reading this page will tell you if they are open or not.</li>
<li>You must get your tournament application approved by the Tournament Directors. If your idea is denied, don't repost your application unless you have adequately addressed the issues presented. You'll be denied again because you didn't meet the requirements.</li>
<li>You must be a responsible user who has spent a good amount of time at Smogon. If you are close to being banned, banned, have had a lot of infractions in general, or are too new to the forums, your tournament request will be denied (Forum "age" will be determined by who you send your PM to).</li>
</ol>

<p>Once you have had tournament approved, create your thread and start your sign-ups. Be sure that you know you can handle the amount of people who have registered. If it's your first time hosting a tournament, it's recommended (but it's not required by any means necessary) that you limit your registrations to 32 players, and then let people register as substitutes. If you get to the point where you can have more people register (16, 32, 64, 128, 256, 512...), open up your slots to join and create a new limit. Avoid giving byes at all costs.</p>

<p>Here are requirements while you are hosting your tournament.</p>

<ol class="long_list">
<li>Be sure that you give reference URLs on each thread you make in regards to your tournament, including this page.</li>
<li>You must give deadlines each round of your tournament. Deadlines force players to do their battles.</li>
<li>Do NOT let players who are banned from tournaments (See: Banned Players) or who are about to be banned from Smogon join your tournament.
<ul class="long_list">
<li>If a player becomes close to/or becomes banned during a tournament, do not disqualify the player who is close to being banned. Substitute a banned player, only in round one, or at anytime if you are hosting a team tournament. Players whose status become negative during your tournament does not make you break the rules.</li>
</ul>
</li>
<li>Give as few deadline extensions as you possibly can. This promotes laziness to players and that is not good.</li>
<li>Do not let your tournament die. Pester your participants who have not completed their match yet to do so. If you let your tournament die, not only will you receive an infraction, but you will also be banned from hosting tournaments in the future.</li>
<li>Disqualify players fairly.
<ul class="long_list">
<li>If two players are trying their hardest to complete their match even past the deadline, move their match as a part of the next round and let them play their battle. Then the winner of their match will play who they were originally supposed to be put up against.</li>
<li>If one player is being very active (Check out Pokemon Showdown, #pokemon, #smogon, and so on) while another is not, disqualify the inactive player.</li>
<li>If both players are inactive, flip a coin. Advance the winner of the coin flip and move on.</li>
<li>If a situation cannot be handled, ask a Tournament Director and the one you've contacted will make a final decision.</li>
</ul>
</li>
<li>Usually, tournaments on Smogon are played using the Random Pairings method. If you need help making pairings, then you should try Mekkah's Bracket Maker. If you cannot figure out how to use it, you can always use a TI-83 Calculator, a program online like Nealpro, etc.</li>
<li>We suggest that you do not host Swiss Style tournaments. You should stray from Round Robin too.</li>
<li>Under no circumstance should you fix the rules in your favor or to that of another person's favor as a tournament host!</li>
<li>It is recommended that you set a rule to have players send you logs of their match.</li>
</ol>