[title]
Rules
[head]
<meta name="description" content="Describes the rules enforced on Smogon University's Pokemon Showdown server." />
[page]
		<h2 style="text-align: center; ">
			<img src="http://www.smogon.com/media/sim/oakintro.png" style="width: 69px; height: 130px; " /></h2>
		<p>
			<em>Welcome to the world of competitive Pokemon! Your very own tale of grand adventure is about to unfold! On your journey, you will meet countless Pok&eacute;mon and people. I&#39;m sure that along the way you will discover many things, perhaps even something about yourself! Now, go on, leap into the wor-</em></p>
			<p><em>Whoa, hold your horses, trainer. I&#39;m sure this is all very exciting, but we need to lay down a few ground rules. If you follow these rules, your Smogon University server experience will be enjoyable for everyone. If you don&#39;t, let&#39;s just say you&#39;ll find something other than a Charmander in that Poke Ball.</em></p>
		
		<h3>
			1. Be respectful to other users.</h3>
		<p>Anonymity on the internet is great, but it also makes people forget their actions have consequences. Remember, on the other side of that computer screen is another person.</p>
		<ul>
			<li>
				Do not insult other users. This includes harassment, racism, sexism, etc. Do not create accounts with offensive usernames.</li>
                        <li>    
                                Do not impersonate recognized users (users with +, %, @, &amp;, ~ next to their name).</li>           
			<li>
				As the old adage goes, &quot;If you have nothing nice to say, say nothing at all.&quot; If you find yourself incapable of following this rule, just stick to battling rather than talking in the chat.</li>
<li>
				Do not bash Pokemon Showdown or Smogon University. Both sites work extremely hard to bring you a great server experience.</li>
		</ul>
		<h3>
			2. Do not disrupt the chat.</h3>
		<div>
			This rule can be construed in a number of ways, the most common are listed below:</div>
		<ul>
<li>
				Try to keep the chat as intelligent as possible. No "noob talk" or general nonsense.</li>
			<li>
				Do not use excessive punctuation or capitalization. Capitalization is fine if used sparingly for emphasis, but do not send entire messages in caps. The same goes for punctuation; you can convey your enthusiasm just as well with one exclamation mark as you can with twenty. Using excessive punctuation constitutes stretching. (Thiiiiiiiiis is also stretching.)</li>

<li>
				Do not spam the chat with multiple messages. Similarly, do not copy and paste logs from a battle or sets from the teambuilder; they will fill up multiple lines and flood the chat.</li>			<li>
				Keep profanity to a minimum. We realize not everyone on the server is ten years old, so we allow the use of profanity. This doesn&#39;t give you license to speak like a sailor.</li>
			<li>
				Do not link to torrent sites or distribute pirated material. Discussion of ROM hacks, etc. is allowed, but enabling piracy is not under any circumstances.</li>
                        <li>
                                Do not under any circumstances link to shock sites or pornography.</li>
			<li>
				Do not advertise. This includes Gym challenges, other servers, sites, Youtube channels, blogs, etc.</li>
			<li>
				Do not ask for battles in the main chat unless your tier is devoid of players; use the find battle button. </li>
			<li>
				Speak English in the chat. Smogon University is an English-only server.</li>
			<li>
				Do not police the chat. This includes "minimodding"&mdash;filling the role of a mod through threatening punishment directly ("mute this guy") or indirectly ("inb4 mute")&mdash;as well as telling off people who break rules visibly (for example, saying "stop the caps" to a spammer, while well intentioned, is not helping, and just disrupts the chat further).</li>

                        <li>      Do not discuss banned users, or why they were banned.</li>
		</ul>
		<h3>
			3. Do not cheat!</h3>
		<div>
			Do not attempt to game the system or artificially boost your ladder ranking or the rankings of your friends. This means:</div>
		<ul>
<li>
				Do not log on with multiple accounts at the same time and attempt to battle yourself.</li>
				
<li>
				Do not deliberately timer-stall or intentionally waste the time of your opponent. If you have to temporarily leave your computer, that is understandable. However, intentionally or repeatedly winding down the timer is unsportsmanlike and is a ban-worthy offense.</li>
<li>
				Do not forfeit against your opponent just because they're your friend. </li>
		</ul>
			If you get caught doing any of the above, and you <strong>will</strong> get caught, you <strong>will</strong> be banned and have your ladder rating reset.
		<h3>
			4. Do not access the server using proxy connections, and do not use a dynamic IP if you can help it.</h3>
		<div>
			This is more of a guideline than a rule and is mostly not a punishable offense. Due to problems with spammers, we constantly check for dynamic IPs and known proxy addresses. If you connect through a proxy, you may have trouble connecting. If for some reason you need to use a dynamic IP or connect through a proxy for whatever reason, and you have trouble connecting, contact a staff member, and we will attempt to work something out on a case-by-case basis. </div>
		<h3>
			5. Rules are subject to moderator interpretation.</h3>
		<p>
			The rules listed above are open to moderator interpretation. What one moderator may consider &quot;excessive punctuation&quot; is not what all moderators consider &quot;excessive punctuation.&quot; The above rules do not address every possible situation. A moderator may enact punishment for an offense not listed above.</p>
		<p>
			Disciplinary action is also subject to moderator discretion. There is no chart assigning specific punishment for each rule violation. If you believe a moderator has delivered unfair punishment, you can appeal the action <a href="http://www.smogon.com/forums/forumdisplay.php?f=126">here</a>. When posting an appeal, include the following information:</p>
		<ul>
			<li>
				The username of the moderator who banned you</li>
			<li>
				The username you were using yourself when you were banned</li>
			<li>
				A complete log or screenshot of the text that is relevant to the question of your banning</li>
			<li>
				An explanation of why you feel that you were banned improperly</li>
		</ul>
<p>The Discipline Appeals forum is <strong>not</strong> an apology forum. Rather than apologizing for your actions, don't break the rules in the first place. The Discipline Appeals forum is also for appealing bans <strong>only</strong>.  If you feel that you have been unfairly muted, take it up with the user who muted you on the simulator via forum private message or simulator private message.</p>

<p>If you evade a mute you will be temporarily banned.</p>

<p><strong>Smogon enforces COPPA.</strong> If you admit to being under the age of thirteen, you will be banned until you become thirteen years old.</p>