[title]
Smogon Frontier - Rules
[head]
<meta name="description" content="Rules" />

[page]

<h2>Battle Rules</h2>

<p>Before battling a Frontier Brain, make sure to follow these rules:</p>

<ul class="long_list">
<li>All matches will be standard BW1 OU.</li>
<li>All matches must be played on Pokemon Online.</li>
<li>You are not allowed to use Pokémon classified as "Uber".</li>
<li>All tiers are based on <a href="/forums/announcement.php?f=34&a=187">Smogon tiers</a>.
<li>Species Clause: A player cannot have two or more of the same Pokémon on their team. For example, a player cannot have two Koffings on his or her team.</li>
<li>Sleep Clause: A player cannot put two or more different opposing Pokémon to sleep using attacks that induce sleep to opposing Pokémon.</li>
<li>Evasion Clause: A player cannot increase their Pokémon's evasion stat with a move that specifically increases evasion. Items do break this clause, but indirect boosts do not.</li>
<li>OHKO Clause: Players cannot use moves that have a chance of instantly KOing opposing Pokémon. For example, Horn Drill is an illegal move to have on a Pokémon's move set.</li>
<li>Timed Battle must be enabled.</li>
</ul>

<p>For a full list of rules and regulations, take some time to review the registration thread.</p>