[title]
#Pokemon Rules
[head]
<meta name="description" content="Describes the rules enforced on Smogon's official IRC channel: #Pokemon." />
[page]

<p>#Pokemon can be a fun, relaxing place to chat on Smogon as long as you follow a few simple rules!</p>

<h2>The Purpose Of This Channel</h2>

<p><strong>The first purpose of this channel is to be a chat dedicated to competitive Pokémon.</strong> Competitive Pokémon chat covers a very wide range of topics and metagames, including tournaments, all the official Smogon Metagames of every generation, Official Nintendo formats like VGC, the Pokémon Trading Card Game, the Global Battle Union, our very own Create A Pokémon, and even more obscure metagames like Glitchmons, Hackmons, and Middle Cup. While expressing reasons for disliking a metagame are allowed, derailing a chat by bashing a metagame is discouraged.</p>

<p><strong>The second purpose of this channel is to be a chat dedicated to Smogon's social side.</strong> Almost anything related to Pokémon that's not competitive or non-Pokémon related you can think of is allowed as social chat. However, if a half operator or higher feels that the social discussion has crossed some boundaries and asks you to change the topic, listen to them or you may get kicked!</p>

<h2>General Rules</h2>

<p>While #Pokemon doesn't have very many general rules, following these few rules will generally help you avoid getting kicked or banned!</p>
<ul class="long_list">
<li>Be respectful of other users. Flaming other users for any reason is not acceptable.</li>
<li>Trolling new users is not allowed. Many people come to #Pokemon to learn the game, so intentionally misleading new users with false information like "Kyogre is a bad Pokémon because it doesn't learn Psychic" is counterproductive to the channel.</li>
<li>Spamming the channel will result in an immediate ban.</li>
<li>When posting links, they must be somewhat safe for work, so no porn or other extremely graphic content is allowed. Media such as violent video games and violent movies will be allowed in most cases however.</li>
<li>Scripts are currently allowed in #Pokemon. However, if you are caught abusing them, you may be banned until you either fix your script or get rid of it.</li>
<li>Chatspeak shorthands like u, ur, some1, leetspeak, and intentional misspellings like teh and leik are generally discouraged, as they make the chat harder to read. Internet acronyms like "lol" are fine though.</li>
<li>When an Operator or higher warns you to stop a certain action, listen to them or you may be kicked or banned. If you feel like the Operator has been unfair or is abusing their power, don't bring this up in #Pokemon. Instead, send a SOP or higher a personal message with your problems, and they will address the situation if they feel you have a point.</li></ul>